html {
    background-color: white;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    font-size: 20px;
}

#container {
    font-size: 18px;
}

#buttons {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#rockBtn, #paperBtn, #scissorsBtn, #playAgain {
    transition-duration: 0.3s;
    font-size: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    cursor: pointer;
    background-color: white;
}

#rockBtn:hover:enabled, #paperBtn:hover:enabled, #scissorsBtn:hover:enabled, #playAgain:hover:enabled {
    background-color: #e7e7e7;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}